<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="./static/js/act.js" defer></script>
</head>
<body>

    <div id="mySidebar">
      <button class="open-close_btn" onclick="w3_close()">Close &times;</button>

      <div class="sb_top" style="font-size: 20px; text-align: center;">
        <div>
          Nhóm 
        </div>
        
      </div>

      <div class="sb_mid">
        
        <div style="display: flex; justify-content:end; margin-top: 5%;">
            <div id="folderList" style="display: flex; flex-direction: column; position: absolute; left: 2%;">
              <div>Choose image:</div>

            </div>
            <div id="imageList" style="display: flex; flex-direction: column; overflow: scroll; margin-right: 10%;">

            </div>
        </div>
      </div>
      <div class="sb_bottom">
        <img onclick="get_img(this)" width="100%" style="height: 100%;" id="displayedImage" src="{% if image_list %}{{ url_for('static', path='img/' + image_list[0]) }}{% endif %}">
      </div>
            
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var displayedImage = document.getElementById('displayedImage');
            fetch('/folders')
                .then(response => response.json())
                .then(data => {
                    var folderList = document.getElementById('folderList');
                    data.folders.forEach(folder => {
                        var button = document.createElement('button');
                        button.innerText = folder;
                        button.onclick = function() {
                            fetch('/images/' + folder)
                                .then(response => response.json())
                                .then(data => {
                                    var imageList = document.getElementById('imageList');
                                    imageList.innerHTML = ''; 
                                    data.images.forEach(image => {
                                        var imgButton = document.createElement('button');
                                        imgButton.innerText = image;
                                        imgButton.onclick = function() {
                                            displayedImage.src = "/static/img/input/" + folder + "/" + image;
                                        };
                                        imageList.appendChild(imgButton);
                                    });
                                    imageList.style.display = 'flex';
                                })
                                .catch(error => console.error('Error:', error));
                        };
                        folderList.appendChild(button);
                    });
                  })
                  .catch(error => console.error('Error:', error));
              

            displayedImage.addEventListener('click', function() {
              console.log(this.src)
                var imagePath = this.src.replace(window.location.origin, '');
                var parts = imagePath.split('/');
                var folder = parts[parts.length - 2];
                var filename = parts[parts.length - 1];
                filename = filename.replace('.jpg','');
                filename = filename.replace('.png','');
                filename = filename.replace('.bmp','')
                filename = filename.replace('.jpeg','')
                fetch('/images_results/' + folder + '/' + filename)
                  .then(response => response.json())
                  .then(data => {
                    var contentBottom = document.querySelector('.content_bottom');
                    contentBottom.innerHTML = '';
                    data.images.forEach(image => {
                      var imageContainer = document.createElement('div');
                      imageContainer.style.width = '10%';
                      imageContainer.style.marginTop = "8%"

                      var imgElement = document.createElement('img');
                      imgElement.src = "/static/img/output/" + folder + '/' + filename + "/" + image;
                      imgElement.style.width = "100%";
                      imgElement.style.height = "40%";
                      imgElement.style.border = '1px solid black';
                      imgElement.onclick = function () {
                        var displayedImage = document.getElementById('displayedImageHigh');
                        displayedImage.src = imgElement.src;
                        var displayedImageHigh = document.getElementById('displayedImageLow');
                        displayedImageHigh.src = "/static/img/input/" + subfolder + "/" + image.slice(0,image.length - 4);
                      };
                      imageContainer.appendChild(imgElement);

                      var nameParagraph = document.createElement('p');
                      nameParagraph.textContent = image.replace('.jpg','');
                      nameParagraph.style.textAlign = 'center';
                      imageContainer.appendChild(nameParagraph);

                      contentBottom.appendChild(imageContainer);

                    });
                    contentBottom.style.display = 'flex';
                  })
                  .catch(error => console.error('Error:', error));
            });

        });
      </script>
        
      
    </div>
    
    <div id="main">
      <div class="header">
        <div style="display:flex;">
          <button style="display: none;" class="open-close_btn" id="openNav" onclick="w3_open()">&#9776;</button>
          <a href="#default" class="logo">Enhance low-light image</a>
        </div>
        
        <div class="header-right">
          <form>
            <label for="cars">Choose a method:</label>
            <select name="cars" id="cars" onchange="updatePlaceholder()">
                <optgroup label="Gray Level Transform">
                    <option value="linear_gray_level_transformation">Linear gray level transformation</option>
                    <option value="piecewise_linear_transformation">Piecewise linear transformation</option>
                    <option value="logarithmic_transformation">Logarit</option>
                    <option value="adjust_gamma">Gamma</option>
                </optgroup>
        
                <optgroup label="Histogram">
                    <option value="hist_equalization">Histogram equalization</option>
                    <option value="apply_ahe">Adaptive histogram equalization</option>
                    <option value="apply_clahe">Contrast limited adaptive histogram equalization</option>
                </optgroup>
        
                <optgroup label="Retinex">
                    <option value="single_scale_retinex">Single-scale retinex</option>
                    <option value="multi_scale_retinex">Multiscale retinex</option>
                    <option value="MSRCR">Multiscale retinex color restoration</option>
                </optgroup>
            </select>
            <br><br>
            <div style="display: flex; justify-content: space-between;">
                <input style="width: 70%;" type="text" id="param_methods" placeholder="alpha, beta">
                <input type="submit" value="Convert">
            </div>
        </form>
        
        <script>
            var parameters = {
                "linear_gray_level_transformation": {"alpha": 0.5, "beta": 50},
                "piecewise_linear_transformation": {"threshold": 128, "low_slope": 0.5, "high_slope": 2},
                "logarithmic_transformation": {"constant": 1},
                "adjust_gamma": {"gamma": 10},
                "hist_equalization": {},
                "apply_ahe": {},
                "apply_clahe": {},
                "single_scale_retinex": {"sigma": 10},
                "multi_scale_retinex": {"sigma_list": [10, 50, 100]},
                "MSRCR": {"sigma_list": [10, 50, 100]}
            };
        
            function updatePlaceholder() {
              var selectedMethod = document.getElementById('cars').value;
              var paramMethodsInput = document.getElementById('param_methods');
              paramMethodsInput.value = '';
              // Lấy giá trị của key tương ứng trong parameters và sử dụng nó làm placeholder
              var placeholderText = Object.keys(parameters[selectedMethod] || {}).join(', ');
              console.log(placeholderText)
              if (placeholderText == '') {
                paramMethodsInput.style.display = 'none';
              } else {
                paramMethodsInput.style.display = '';
              }
              // Cập nhật giá trị của placeholder
              paramMethodsInput.placeholder = placeholderText;
            }
        </script>
        
        </div>
        
      </div>
      
      <div class="content">
        <div class="content_top">
          <div style="width: 45%;">
            <div style="text-align: center;">Original</div>
            <img width="100%" style="height: 90%;" id="displayedImageLow">
          </div>
          <div style="width: 45%;">
              <div style="text-align: center;">Result</div>
              <img width="100%" style="height: 90%;" id="displayedImageHigh">
          </div>
        </div>

        <div class="content_bottom">

        </div>
        
      </div>

    </div>
    
    <script>
    function w3_open() {
      document.getElementById("main").style.marginLeft = "2%";
      document.getElementById("mySidebar").style.width = "40%";
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "1%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
    }
    </script>
    
    </body>
</html>




<script>
var convertForm = document.querySelector('form');
convertForm.addEventListener('submit', function(event) {
    event.preventDefault();

    var selectedMethod = document.getElementById('cars').value;
    var lowImagePath = document.getElementById('displayedImageLow').src;
    var paramMethodsValue = document.getElementById('param_methods').value + ' ';
    console.log(paramMethodsValue)

    fetch('/convert-image/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: new URLSearchParams({
            'method': selectedMethod,
            'low_image_path': lowImagePath,
            'param_methods': paramMethodsValue,
        }),
    })
    .then(response => response.json())
    .then(data => {
        displayedImageHigh.src = data.high_image + '?' + new Date().getTime();
    })
    .catch(error => console.error('Error:', error));
});
</script>
